*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    
}

header{
    display: flex;
    justify-content: space-around;
}
nav{
    font-family: 'Inknut Antiqua';
    display: flex;
    flex-wrap: wrap;
    align-items: center;   
}
nav ul{
    display: flex;
}
nav li{
    margin-right: 1em;
}
nav a{
    text-decoration: none;
    color: #314C1D;   
}

.banner{
    background-image: url(imagens/banner-cpsi.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 688px;
    border-top: 2px solid #314C1D;
}
.banner article{
    text-align: center;
    color: #314C1D;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10em;
}
.banner h1{
    font-size: 5em;
}
.banner p{
    font-size: 2.3em;
    margin-bottom: 0.5em;
}
.banner a{
    text-decoration: none;
    color: #FFFFFF; 
}
.saibamais{
    background-color: #314C1D;
    padding: 0.5em;
    border-radius: 0.5em;
    width: 150px;
}

.projeto{
    background-color: #314C1D;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
}
.projeto h2{
    padding: 1em 10em;
}
.projeto p{
    padding: 0 1em;
    font-size: 1.84em;
}
.exprojeto{
    padding: 3em 1.5em 3em 0;
}

.modalidades h2{
    text-align: center;
    margin-top: 1em;
}
.modalidades h3{
    margin: 1em;
}
.modalidades ul{
    display: flex;
    justify-content: space-evenly;
    margin: 0 1em;
}

.horarios{
    background-color: #314C1D;
    padding: 1em;
}
table{
    margin: auto;
}
caption, th, td:first-child{
    background-color: #B5CF92;
    padding: 1em;
}
td{
    background-color: #FFFFFF;
}

.inscricoes{
    text-align: center;
}
.inscricoes ul{
    display: flex;
    justify-content: space-evenly;
    /*alinhar ao centro e personalizar botões*/   
}

.contato{
    text-align: center;
}
.contato div{
    display: flex;
    justify-content: center;
}

section h2{
    text-align: center;
}
.equipe{
    display: flex;
}
.equipe div{
    display: flex;
    align-items: center;
}
.equipe img{
    background-color: #314C1D;
    border-top-left-radius: 5em;
    border-bottom-left-radius: 5em;
}
.equipe ul{
    background-color: #314C1D;
    height: 150px;
    width: 200px;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
}
.equipe li{
    color: #FFFFFF;
    align-content: center;
}

footer{
    background-color: #314C1D;
    color: #FFFFFF;
}